/.idea
/.vs/FindingWay/FileContentIndex
/FindingWay.DykstraAlgorithm/bin
/FindingWay.DykstraAlgorithm/obj
/FindingWay.FloydAlgorithm/bin
/FindingWay.FloydAlgorithm/obj
/FindingWay.UnitTests/bin
/FindingWay.UnitTests/obj
/.vs
/FindingWay.Common/bin
/FindingWay.Common/obj
/FindingWay.ConsoleApp/bin
/FindingWay.ConsoleApp/obj
