/.idea
/.vs/FindingWay/FileContentIndex
/FindingWay.DykstraAlgorithm/bin/Debug/net6.0
/FindingWay.DykstraAlgorithm/obj
/FindingWay.FloydAlgorithm/bin/Debug/net6.0
/FindingWay.FloydAlgorithm/obj
/FindingWay.UnitTests/bin/Debug/net6.0
/FindingWay.UnitTests/obj
/.vs
